 .toggle-switch {
   position: absolute;
   right: 10px;
   width: 100px;
   height: 50px;
   --light: #d8dbe0;
   --dark: #28292c;
   --link: rgb(27, 129, 112);
   --link-hover: rgb(24, 94, 82);
 }

 .switch-label {
   position: absolute;
   width: 100%;
   height: 50px;
   background-color: var(--dark);
   border-radius: 25px;
   cursor: pointer;
   border: 3px solid var(--dark);
 }

 .checkbox {
   position: absolute;
   display: none;
 }

 .slider {
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 25px;
   -webkit-transition: 0.3s;
   transition: 0.3s;
 }

 .checkbox:checked~.slider {
   background-color: var(--light);
 }

 .slider::before {
   content: "";
   position: absolute;
   top: 10px;
   left: 10px;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
   box-shadow: inset 12px -4px 0px 0px var(--light);
   background-color: var(--dark);
   -webkit-transition: 0.3s;
   transition: 0.3s;
 }

 .checkbox:checked~.slider::before {
   -webkit-transform: translateX(50px);
   -ms-transform: translateX(50px);
   transform: translateX(50px);
   background-color: var(--dark);
   -webkit-box-shadow: none;
   box-shadow: none;
 }

 body {
   transition: 0.5s ease-in-out;
 }

 .black {
   background-color: black;
 }

 /* Form  =======================================*/

 /* From Uiverse.io by alexruix */
 .form-box {
   max-width: 300px;
   background: #f1f7fe;
   overflow: hidden;
   border-radius: 16px;
   color: #010101;
 }

 .form {
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 32px 24px 24px;
   gap: 16px;
   text-align: center;
 }

 /*Form text*/
 .title {
   font-weight: bold;
   font-size: 1.6rem;
 }

 .subtitle {
   font-size: 1rem;
   color: #666;
 }

 /*Inputs box*/
 .form-container {
   overflow: hidden;
   border-radius: 8px;
   background-color: #fff;
   margin: 1rem 0 .5rem;
   width: 100%;
 }

 .input {
   background: none;
   border: 0;
   outline: 0;
   height: 40px;
   width: 100%;
   border-bottom: 1px solid #eee;
   font-size: .9rem;
   padding: 8px 15px;
 }

 .form-section {
   padding: 16px;
   font-size: .85rem;
   background-color: #e0ecfb;
   box-shadow: rgb(0 0 0 / 8%) 0 -1px;
 }

 .form-section a {
   font-weight: bold;
   color: #0066ff;
   transition: color .3s ease;
 }

 .form-section a:hover {
   color: #005ce6;
   text-decoration: underline;
 }

 /*Button*/
 .form .signUpBtn {
   background-color: #0066ff;
   color: #fff;
   border: 0;
   border-radius: 24px;
   padding: 10px 16px;
   font-size: 1rem;
   font-weight: 600;
   cursor: pointer;
   transition: background-color .3s ease;
 }

 .form button:hover {
   background-color: #005ce6;
 }

 .container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
 }

 .suggestBtn {
   width: 70%;
   padding: 0.3rem;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   gap: 3px;
   font-size: 14px;
   margin-top: -1.2rem;
   margin-left: 2px;
   display: inline-flex;
   align-items: center;
   gap: 8px;
   background: transparent;
   border: 1px solid #d0d7de;
   color: #444;
   padding: 4px 12px;
   cursor: pointer;
   transition: 0.1s ease-in-out;
 }

 .suggestBtn:hover {
    background-color: #f0f4ff !important;
    color: black;
 }
